@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: #EEEEEE;
}

section {
  position: relative;
  margin: auto;
  max-width: 960px;
}

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00227b;
}

li.menu_button {
  float: left;
}

li.menu_button a {
  font-weight: 100;
  display: block;
  background-color: #00227b;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

li.menu_button a:hover {
  background-color: #3f51b5;
  color: white;
}

header.header_other {
  margin-left: auto;
  margin-right: auto;
  background: #3f50b5;
  min-height: 70px;
}

header {
  margin-left: auto;
  margin-right: auto;
  background: #3f50b5;
  min-height: 1000px;
}

h1.h1_other {
  padding: 30px 20px 30px;
  margin: auto;
  max-width: 900px;
  font-weight: 300;
  font-size: 48px;
  color: white;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

h1#h1_main {
  padding-top: 280px;
  margin: auto;
  max-width: 600px;
  max-height: 100%;
  font-size: 100px;
  text-align: center;
  color: black;
  position: relative;
}

.parallax {
  background-image: url("../images/Wallpaper.png");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

article {
  background-color: white;
  padding: 5px 30px 30px;
  margin: 30px;
  font-weight: 100;
}

h2 {
  font-weight: 100;
  font-size: 28px;
}

h3 {
  padding: 0;
  font-weight: bold;
  font-size: 21px;
}

p {
  line-height: 1.4;
}

button {
  padding: 12px 24px;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: #00227b;
  color: #ecf0f1;
  transition: background-color .3s;
}

button:hover, button:focus {
  background-color: #3f51b5;
  cursor: pointer;
  box-shadow: 0px 15px 25px -5px rgba(0, 0, 0, .6);
  transition: background-color .5s;
  transform: scale(1.03);
}

button:active {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, .6);
  transform: scale(0.98);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 30px;
  border: 2px solid #ddd;
}

th, td {
  text-align: center;
  padding: 16px;
}

th:first-child, td:first-child {
  text-align: left;
}

tr:nth-child(even) {
  background-color: white
}

p.creator_name {
  font-weight: bold;
  font-size: 25px;
}

p.hello_line {
  font-size: 25px;
}

td.bold_td {
  font-weight: bold;
}

.portrait {
  float: right;
  padding-left: 20px;
  padding-bottom: 20px;
}

.social_media_icon {
  padding: 5px;
  transition: all 0.5s;
}

.social_media_icon:hover, .social_media_icon:focus {
  transform: scale(1.5);
  transition: all .3s;
}

.social_media_icon:active {
  transform: scale(1.20);
}

.bounce-bottom {
  -webkit-animation: bounce-bottom 0.9s both;
  animation: bounce-bottom 0.9s both;
  animation-delay: 2s;
}

@keyframes bounce-bottom {
  0% {
    transform: translateY(45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }

  24% {
    opacity: 1;
  }

  40% {
    transform: translateY(24px);
    animation-timing-function: ease-in;
  }

  65% {
    transform: translateY(12px);
    animation-timing-function: ease-in;
  }

  82% {
    transform: translateY(6px);
    animation-timing-function: ease-in;
  }

  93% {
    transform: translateY(4px);
    animation-timing-function: ease-in;
  }

  25%,
  55%,
  75%,
  87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }

  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

.text-focus-in {
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.4s both;
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

#slide-bottom {
  animation: slide-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

@keyframes slide-bottom {
  0% {
    transform: translateY(-50px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}
